*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.no-scroll{
    overflow: hidden;
}
.btn-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-success{
    padding: 15px 30px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #218838;
    }   
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;

}
.popup{
    width: 600px;
    height: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-height: 90vh;
    overflow-y: auto; 
}
.btn-close{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #c82333;
    }   
}
.btn-close-container{
    width: 100%;
}
.btn-right-close{
    float: right;
    position: relative;
    top: -95px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #c82333;
    }
}

/* Responsive adjustment for very small screens */
@media screen and (max-width: 229px) {
    .btn-right-close {
      top: -85px;
    }
}